.height{
	height:612px;
	width:491px;
}
.length{
	height:500px;
	width:500px;
}
.heightslide{
	height:350px;
	width:300px;
}
.lengthslide{
	height:454px;
	width:1000px;
}
.lengthart{
	height:350px;
	width:500px;
}
.lengthlandscape{
	height:500px;
	width:700px;
}